header{
    background-image: url(images/desk.jpg);
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
   
}

#form .contact-Form{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid rgba(53, 54, 58, 0.5);
    padding: 0 2em;
    border-radius: 10px;
    padding-bottom: 1.5em;
    box-shadow: 10px 10px 17px -10px rgba(20, 20, 20, 0.2);
    width: 95%;
}
#form .contact-Form h3{
    padding: 0.8em 0;
    color: #bc4546;
    text-align: center;
    display: block;
    font-size: 1.3em;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

#form .contact-Form input, #form .contact-Form textarea{
    height: 2.5em;
    width: 100%;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0,0.2);
    padding-left: 1em;
    margin: 0.7em 0;
}
#form .contact-Form textarea{
    height: 7.5em;
    width: 100%;
    padding-top: 0.5em;
}
#form .contact-Form input:focus{
    outline: none;
}

#form .contact-Form .btn{
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: rgba(188, 69, 70, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 10px 17px -10px rgba(20, 20, 20, 0.2);
    transition: all 350ms ease-in;
    width: 5em;
    padding: 0.5em 3em;
    border-style: none;
    cursor: pointer;
}
#form .contact-Form .btn:hover ,#form .contact-Form .btn:active{
    background-color: #bc4546;
    box-shadow: none;
}

@media(min-width: 700px){
    #form .contact-Form{
        width: 600px;
    }
    #form .contact-Form form{
        width: 500px;
    }
    #form .contact-Form textarea{
        max-height: 18em;
        height: 13em;
        max-width: 500px;
    }
    #form .contact-Form form .name{
        padding-top: 1em;
    }
    #form .contact-Form h3{
        font-size: 1.8em;
    }
}

/* Map */

#form .map {
    display: none;
}
#form .map h3{
    font-size: 2.5em;
    padding: 1em 0;
    color: #35363A;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
}

@media(min-width: 840px){
    #form{
        display: flex;
        flex-direction: column;
    }
    #form .map{
        display: block;
        padding-top: 3em;
    }
    
}

@media(min-width: 1300px){
    #form{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10em 0;
    }
    #form .map{
        display: block;
        padding-top: 0em;
    }
    #form .map h3{
        padding-top: 0;
        padding-bottom: 0.5em;
    }
    
}