#sidebar{
    position: fixed;
    top: 64px;
    z-index: 900;
}
#sidebar .sidebar-wrapper{
    display: flex;
}

/* ================Menu List================= */
#sidebar .menu-list{
    width: 230px;
    background-color: #242424;
    opacity: 0.95;
    transform: translateX(-230px);
    transition: transform 250ms ease-out;
    height: 90vh;
    overflow-y: scroll;
}
#sidebar .menu-list h3{
    color: #BC4546;
    font-size: 2.5em;
    padding: 1em 0;
}
#sidebar .menu-list ul{
    text-align: left;
    list-style: none;
    padding-left: 1.5em;
}
#sidebar .menu-list ul li{
    padding: 1.2em 0;
}
#sidebar .menu-list ul:nth-last-child(1){
    padding-bottom: 4em;
}
#sidebar .menu-list ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 2px;
    position: relative;
    transition: color 250ms ease-in;
    position: relative;
}


/* Scrollbar */

.menu-list::-webkit-scrollbar{
    width: 6px;
}
.menu-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .menu-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }










/* Icons */
#sidebar .menu-list ul li a span{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    left: -10px;
    top: 4px;  
    transition: background-image 250ms ease-in;  
}

#sidebar .menu-list ul li .appetizer{
    background-image: url(images/appetizer.png);
}
#sidebar .menu-list ul li a:hover .appetizer{
    background-image: url(images/appetizerRed.png);
}

#sidebar .menu-list ul li .soup{
    background-image: url(images/icons/soup.png);
}
#sidebar .menu-list ul li a:hover .soup{
    background-image: url(images/icons/soupRed.png);
}

#sidebar .menu-list ul li .salad{
    background-image: url(images/icons/salad.png);
}
#sidebar .menu-list ul li a:hover .salad{
    background-image: url(images/icons/saladRed.png);
}
#sidebar .menu-list ul li .pizza{
    background-image: url(images/icons/pizza.png);
}
#sidebar .menu-list ul li a:hover .pizza{
    background-image: url(images/icons/pizzaRed.png);
}
#sidebar .menu-list ul li .brick-oven{
    background-image: url(images/icons/brick-oven.png);
}
#sidebar .menu-list ul li a:hover .brick-oven{
    background-image: url(images/icons/brick-ovenRed.png);
}

#sidebar .menu-list ul li .pasta{
    background-image: url(images/icons/pasta.png);
}
#sidebar .menu-list ul li a:hover .pasta{
    background-image: url(images/icons/pastaRed.png);
}

#sidebar .menu-list ul li .baked{
    background-image: url(images/icons/baked.png);
    transform: rotate(90deg);
}
#sidebar .menu-list ul li a:hover .baked{
    background-image: url(images/icons/bakedRed.png);
}
#sidebar .menu-list ul li .dinner{
    background-image: url(images/icons/dinner.png);
}
#sidebar .menu-list ul li a:hover .dinner{
    background-image: url(images/icons/dinnerRed.png);
}

#sidebar .menu-list ul li .chicken{
    background-image: url(images/icons/chicken.png);
}
#sidebar .menu-list ul li a:hover .chicken{
    background-image: url(images/icons/chickenRed.png);
}

#sidebar .menu-list ul li .speciality{
    background-image: url(images/icons/speciality.png);
}
#sidebar .menu-list ul li a:hover .speciality{
    background-image: url(images/icons/specialityRed.png);
}

#sidebar .menu-list ul li .sub{
    background-image: url(images/icons/sub.png);
}
#sidebar .menu-list ul li a:hover .sub{
    background-image: url(images/icons/subRed.png);
}
#sidebar .menu-list ul li .dessert{
    background-image: url(images/icons/dessert.png);
}
#sidebar .menu-list ul li a:hover .dessert{
    background-image: url(images/icons/dessertRed.png);
}
#sidebar .menu-list ul li .catering{
    background-image: url(images/icons/catering.png);
}
#sidebar .menu-list ul li a:hover .catering{
    background-image: url(images/icons/cateringRed.png);
}










#sidebar .menu-list ul li a::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 15px;  
    transition: width 250ms ease-in-out;
    border-radius: 20px;
}
#sidebar .menu-list ul li a:hover, #sidebar .menu-list ul li a:active{
    color: #BC4546;
}
#sidebar .menu-list ul li a:hover::before{
    width: 95%;
}



/* Toggle */

#sidebar .toggle{
    width: 34px;
    height: 30px;
    background-color: #242424; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    transform: translateX(-230px);
    transition: transform 250ms ease-out;
}

@media(min-width: 700px){
    #sidebar{
        top: 70.39px;
    }
}
@media(min-width:840px){
    #sidebar{
        top: 76.8px;
    }
}

#sidebar .toggle span{
    margin-left: 5px;
    width: 15px;
    height: 1px;
    background-color: white;
    display: block;
    position: relative;
}
#sidebar .toggle span::before, #sidebar .toggle span::after{
    content: '';
    width: 8px;
    height: 1px;
    display: block;
    position: relative;
    background-color: white;
    
}
#sidebar .toggle span::before{
    top: -5px;
}
#sidebar .toggle span::after{
    top: 4px;
}

#sidebar .toggle svg{
    position: absolute;
    fill: white;
    background-color: #242424;
    width: 18px;
    height: 7px;
    z-index: 999;
    right: 6px;
    transform: rotate(-90deg);

}

/* .active Style */
#sidebar .toggle svg.active{
    transform: rotate(90deg);
}
#sidebar .toggle span.active{
    width: 8px;
}
#sidebar .toggle span.active::before, #sidebar .toggle span.active::after{
    width: 15px;
}

#sidebar .toggle.active{
    transform: none;
}

#sidebar .menu-list.active{
    transform: none;
}
